---
import Layout from "../layouts/Layout.astro";
import { CldUploadWidget } from "astro-cloudinary";
import SmokeBackground from "../components/SmokeBackground.astro";
---

<Layout title="HisTerIA">
  <main
    class="bg-gradient-to-b from-black via-purple-900 to-black text-gray-300 min-h-screen flex flex-col items-center py-10 px-4"
  >
    <SmokeBackground />

    <div class="flex flex-col items-center justify-center py-14 mb-14">
      <h1
        class="text-5xl font-bold text-orange-600 tracking-wide uppercase animate-bounce duration-[3s] drop-shadow-lg"
        style="font-family: 'Creepster', cursive;"
      >
        HisTerIA
      </h1>
      <h2
        class="mt-4 text-xl text-gray-300 italic animate-pulse drop-shadow-md"
      >
        Carga una imagen... y descubre el oscuro secreto que acecha detrás de
        ella.
      </h2>
    </div>
    <CldUploadWidget
      id="upload-widget"
      uploadPreset="upload-images"
      signatureEndpoint="/api/sign-cloudinary-params"
      options={{
        detection: "captioning",
        sources: ["local"],
        multiple: false,
        maxFiles: 1,
        language: "es",
        text: {
          es: {
            or: "o",
            menu: {
              files: "Subir desde tu dispositivo",
            },
            local: {
              browse: "Seleccionar",
              dd_title_single: "Arrastra tu imagen aquí",
              drop_title_single: "Suelta tu imagen aquí",
            },
          },
        },
        styles: {
          palette: {
            window: "#1e1e1e",
            windowBorder: "#ff6600",
            tabIcon: "#f1c40f",
            menuIcons: "#ff6600",
            textDark: "#ffffff",
            textLight: "#f39c12",
            link: "#ff6600",
            action: "#00ff99",
            inactiveTabIcon: "#5a5a5a",
            error: "#ff0000",
            inProgress: "#ff3300",
            complete: "#00ff99",
            sourceBg: "#0e0e0e",
          },
        },
      }}
    >
      <div class="animate-pulse">
        <button
          class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full shadow-lg hover:shadow-orange-500/50 transition duration-300 ease-in-out transform hover:scale-105"
          >Subir imagen</button
        >
      </div>
    </CldUploadWidget>
  </main>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  const widget = document.getElementById("upload-widget");
  const imageEdit = document.getElementById("image-edit") as HTMLImageElement;

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{
        info: {
          public_id: string;
          info: { detection: { captioning: { data: { caption: string } } } };
        };
      }>
    ) => {
      const publicId = e.detail.info.public_id;
      const descriptionImg =
        e.detail.info.info.detection.captioning.data.caption;

      navigate(`/history?id=${publicId}&description=${descriptionImg}`);
    }) as EventListener);
  }
</script>
