---
import Layout from "../layouts/Layout.astro";
import { CldUploadWidget } from "astro-cloudinary";
import { navigate } from "astro:transitions/client";
---

<Layout title="HisTerIA">
  <main
    class="bg-gradient-to-b from-black via-purple-900 to-black text-gray-300 min-h-screen flex flex-col items-center py-10 px-4"
  >
    <div class="flex flex-col items-center justify-center py-14 mb-14">
      <h1
        class="text-5xl font-bold text-orange-600 tracking-wide uppercase animate-bounce duration-[3s] drop-shadow-lg"
        style="font-family: 'Creepster', cursive;"
      >
        HisTerIA
      </h1>
      <h2
        class="mt-4 text-xl text-gray-300 italic animate-pulse drop-shadow-md"
      >
        Carga una imagen... y descubre el oscuro secreto que acecha detrás de
        ella.
      </h2>
    </div>
    <CldUploadWidget
      id="upload-widget"
      uploadPreset="upload-unsigned-images"
      options={{
        sources: ["local"],
        multiple: false,
        maxFiles: 1,
        language: "es",
        text: {
          es: {
            or: "o",
            menu: {
              files: "Subir desde tu dispositivo",
            },
            local: {
              browse: "Seleccionar",
              dd_title_single: "Arrastra tu imagen aquí",
              drop_title_single: "Suelta tu imagen aquí",
            },
          },
        },
        styles: {
          palette: {
            window: "#1e1e1e", // Fondo oscuro de la ventana
            windowBorder: "#ff6600", // Borde naranja para el toque Halloween
            tabIcon: "#f1c40f", // Color de íconos
            menuIcons: "#ff6600", // Íconos del menú en naranja
            textDark: "#ffffff", // Texto oscuro para resaltar en el fondo
            textLight: "#f39c12", // Texto ligero con un tono amarillo calabaza
            link: "#ff6600", // Links en naranja Halloween
            action: "#00ff99", // Botones de acción en rojo oscuro
            inactiveTabIcon: "#5a5a5a", // Íconos inactivos en gris
            error: "#ff0000", // Rojo intenso para los errores
            inProgress: "#ff3300", // Color para mostrar progreso de carga
            complete: "#00ff99", // Verde neón cuando se complete
            sourceBg: "#0e0e0e", // Fondo oscuro para el selector de fuente
          },
        },
      }}
    >
      <div class="animate-pulse">
        <button
          class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full shadow-lg hover:shadow-orange-500/50 transition duration-300 ease-in-out transform hover:scale-105"
          >Subir imagen</button
        >
      </div>
    </CldUploadWidget>
  </main>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  const widget = document.getElementById("upload-widget");

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {
      const publicId = e.detail.info.public_id;
      navigate(`/history?id=${publicId}`);
    }) as EventListener);
  }
</script>
